@model List<DemoMVC.Models.Student>

<h2>Danh sách sinh viên</h2>

<a asp-action="Create" class="btn btn-primary">Thêm sinh viên</a>

<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã sinh viên</th>
            <th>Họ tên</th>
            <th>Chức năng</th>
        </tr>
    </thead>

    <tbody>

@foreach (var item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.StudentCode</td>
            <td>@item.FullName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>